<main class="main">
  <h1>Hello, {{ title }}</h1>

  <div class="row g-3">
    <div class="col-md-6">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control rounded-0" name="name" id="name">
    </div>

    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control rounded-0" name="email" id="email">
    </div>

    <div class="col-md-4">
      <label for="age" class="form-label">Age</label>
      <input type="text" class="form-control rounded-0" name="age" id="age">
    </div>
 
    <div class="col-md-4">
      <label for="zip" class="form-label">City</label>
      <input type="text" class="form-control rounded-0" name="City" id="City">
    </div>

    <div class="col-md-4">
      <label for="zip" class="form-label">Zip</label>
      <input type="text" class="form-control rounded-0" name="zip" id="zip">
    </div>

    <div class="col-md-4">
      <button class="btn btn-danger me-2 rounded-0" (click)="saveUser()">Add</button>
      <button class="btn btn-danger rounded-0" (click)="saveUser()">Update</button>
    </div>
  </div>

  <table  class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>email</th>
        <th>City</th>
        <th>Zip</th>
        <th>Action</th> 
      </tr>
    </thead>
    <tbody>
      @for (item of users; track item) {
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.city }}</td>
          <td>{{ item.zip }}</td>
          <td>
            <button class="btn btn-primary rounded-0 me-3" (click)="editUser(item)">Edit</button>
            <button class="btn btn-danger rounded-0" (click)="deleteUser(item)">Delete</button>
          </td>
        </tr>
        } 
    </tbody>
  </table>
</main>
<router-outlet />
